<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", {title:"Grinding Coffee: Todos los Productos", css:"allProductsPage"}) %>

<body>
    <%- include("partials/nav.ejs") %>
    <main>
        <div class="btnsSelect">
            <div class="nav-section">
                <button class="secondaryButton" data-category="">Todos</button>
                <button class="secondaryButton" data-category="CafeEnGrano">Grano</button>
                <button class="secondaryButton" data-category="CafeMolido">Molido</button>
            </div>
        </div>
        <section class="coffees">
            <div class="products">
                
            </div>
        </section>
    </main>
    <%- include("partials/footer.ejs") %>
<script>
   ///////////////////Color de los botones al hacer click///////////////////////


document.addEventListener('DOMContentLoaded', () => {
    const buttons = document.querySelectorAll('.nav-section button');

    const defaultContent = cards['Todos'];
    changeSection(defaultContent);

    // Seleccionar el primer botón para 'Todos los productoas' como predeterminado
    const defaultActiveButton = document.querySelectorAll('.nav-section button')[0];
    changeActiveButton(defaultActiveButton);
});

    



    function changeSection(cards) {
        const sectionOther = document.querySelector('.products');
        sectionOther.innerHTML = cards;
    }

    const cards = {
        Todos: `
            <% products.forEach(product=> { %>
                <div class="product">
                    <a href="/products/detail/<%= product.id %>">
                        <img class="product-image" src="/img/products/<%= product.productImage%>" alt="<%= product.productName %>">
                        <p class="product-name"><%= product.productName %></p>
                        <p class="product-price">$<%= product.price%></p>
                    </a>
                </div>
            <% }); %>
        `,  
        Grano: `
            <% EnGrano.forEach(product=> { %>
                <div class="product">
                    <a href="/products/detail/<%= product.id %>">
                        <img class="product-image" src="/img/products/<%= product.productImage%>" alt="<%= product.productName %>">
                        <p class="product-name"><%= product.productName %></p>
                        <p class="product-price">$<%= product.price%></p>
                    </a>
                </div>
            <% }); %>
        `,
        Molido: `
            <% molido.forEach(product=> { %>
                <div class="product">
                    <a href="/products/detail/<%= product.id %>">
                        <img class="product-image" src="/img/products/<%= product.productImage%>" alt="<%= product.productName %>">
                        <p class="product-name"><%= product.productName %></p>
                        <p class="product-price">$<%= product.price%></p>
                    </a>
                </div>
            <% }); %>
        `,
};

   
    document.addEventListener('DOMContentLoaded', () => {
        const buttons = document.querySelectorAll('.nav-section button');

        buttons.forEach(button => {
            button.addEventListener('click', () => {
                const buttonText = button.textContent;
                const content = cards[buttonText];
                changeSection(content);
            });
        });
    });
</script>
</body>
</html>