<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", {title:"Nuevo producto", css:"crear"}) %>
    <body>
        <%- include("partials/nav.ejs") %>

        <main>
            <div class="container">
                <h2 class="mainTitle">Crear producto<i class="fa-solid fa-mug-saucer fa-l"></i></h2>
                <div class="flexBox">
                    <form action="/products/create" method="POST" enctype="multipart/form-data">
                       
                        <div class="inputGroup">
                            <label for="productName">Nombre producto:</label>
                            <input class="inputDefault" type="text" name="productName" id="productName">
                        </div>

                        <div class="inputGroup">
                            <label for="description">Descripción:</label>
                            <textarea class="textareaDefault" type="text" name="description" id="description"></textarea>
                        </div>
                        
                        <div class="inputGroup">
                            <label for="category">Categoría:</label>
                            <select class="inputDefault" name="category" id="category">
                                <option value="" selected>Que tipo de producto es:</option>
                                <% categories.forEach(category => { %>
                                    <option value="<%= category.id %>"><%= category.category %></option>   
                                <% }) %>
                            </select> 
                        </div>
                        
                        <div class="inputGroup">
                            <label for="size">Tamaño:</label>
                            <select class="inputDefault" name="size" id="size">
                                <option value="" selected>Elige el tamaño del producto:</option>
                                <% sizes.forEach(size => { %>
                                    <option value="<%= size.id %>"><%= size.size %></option>
                                 
                                <% }) %>
                          
                            </select>   
                        </div>

                        <div class="inputGroup">
                            <label for="price">Precio:</label>
                            <input class="inputDefault" type="number" name="price" id="price">
                        </div>

                        <div class="inputGroup">
                            <label for="productImage">Foto de producto:</label>
                            <br>
                            <input type="file" name="productImage" id="productImage">
                        </div>
                        
                        <div class="buttonGroup">
                            <button class="mainButton" type="submit">Crear</button>
                            <button class="secondaryButton" type="reset">Volver al inicio</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
            <%- include("partials/footer.ejs") %>
    </body>
</html>