<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", {title:"Grinding Coffee/Registro", css:"edit"}) %>
    <body>
        <%- include("partials/nav.ejs") %>
        
        <main>
            <div class="container">
                <h2 class="mainTitle">Editar producto<i class="fa-solid fa-mug-saucer fa-l"></i></h2>
                <div class="flexBox">
                    <form action="/products/edit/<%= singleProduct.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                       
                        <div class="inputGroup">
                            <label for="productName">Nombre producto:</label>
                            <input class="inputDefault" type="text" name="productName" id="productName" value="<%=singleProduct.productName%>">
                        </div>

                        <div class="inputGroup">
                            <label for="description">Descripción:</label>
                            <textarea class="textareaDefault" type="text" name="description" id="description"><%= singleProduct.description %></textarea>
                        </div>

                        <div class="inputGroup">
                            <label for="category">Categoría:</label>
                            <select class="inputDefault" name="category" id="category" value="">
                                <option value=""<% if (!singleProduct.category) { %>selected<% } %>>Que tipo de producto es:</option>
                                <option value="Cafe en grano"  <% if (singleProduct.category === 'Cafe en grano') { %>selected<% } %> >Cafe en grano</option>
                                <option value="Cafe molido" <% if (singleProduct.category === 'Cafe molido') { %>selected<% } %> >Cafe molido</option>
                            </select> 
                        </div>

                        <div class="inputGroup">
                            <label for="size">Tamaño:</label>
                            <select class="inputDefault" name="size" id="size">
                                <option value="" <% if (!singleProduct.size) { %>selected<% } %> >Elige el tamaño del producto:</option>
                                <option value="250" <% if (singleProduct.size === '250') { %>selected<% } %> >250 gr</option>
                                <option value="500" <% if (singleProduct.size === '500') { %>selected<% } %> >500 gr</option>
                                <option value="1000" <% if (singleProduct.size === '1000') { %>selected<% } %> >1000 gr</option>
                            </select>   
                        </div>

                        <div class="inputGroup">
                            <label for="price">Precio:</label>
                            <input class="inputDefault" type="number" name="price" id="price" value="<%= singleProduct.price %>">
                        </div>

                        <div class="inputGroup">
                            <label for="productImage">Foto de producto:</label>
                            <br>
                            <input type="file" name="productImage" id="productImage">
                        </div>
                        
                        <div class="buttonGroup">
                            <button class="mainButton" type="submit">Editar</button>
                            <button class="secondaryButton" type="reset">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        
        <%- include("partials/footer.ejs") %>
    </body>
</html>