<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", {title:"Grinding Coffee: Editar Producto", css:"edit"}) %>
    <body>
        <%- include("partials/nav.ejs") %>
        
        <main>
            <div class="container">
                <h2 class="mainTitle">Editar producto<i class="fa-solid fa-mug-saucer fa-l"></i></h2>
                <div class="flexBox">
                    <form action="/products/edit/<%= singleProduct.id%>?_method=PUT" method="POST" enctype="multipart/form-data">
                       
                        <div class="inputGroup">
                            <label for="productName">Nombre producto:</label>
                            <input class="inputDefault" type="text" name="productName" id="productName" value="<%=singleProduct.productName%>">
                        </div>

                        <div class="inputGroup">
                            <label for="description">Descripción:</label>
                            <textarea class="textareaDefault" type="text" name="description" id="description"><%= singleProduct.description %></textarea>
                        </div>

                        <div class="inputGroup">
                            <label for="category">Categoría:</label>
                            <select class="inputDefault" name="category" id="category" value="">
                                <option value=""<% if (!categories.category) { %>selected<% } %>>Que tipo de producto es:</option>
                                <% categories.forEach(category => { %>
                                <% if (singleProduct.category_id === category.id ) { %>
                                    <option value="<%= category.id %>" selected><%= category.category %></option>
                                    <% } else{ %>  
                                        <option value="<%=category.id%>"><%= category.category %></option>
                                 <% } %>
                                <% }) %>
                            </select> 
                        </div>

                        <div class="inputGroup">
                            <label for="size">Tamaño:</label>
                            <select class="inputDefault" name="size" id="size">
                                <option value="" <% if (!sizes.size) { %>selected<% } %> >Elige el tamaño del producto:</option>
                                <% sizes.forEach(size => { %>
                                    <% if (singleProduct.size_id === size.id) { %>
                                        <option value="<%= size.id %>" selected ><%= size.size%></option>
                                        <% } else{ %>
                                            <option value="<%= size.id %>"><%= size.size%></option>
                                    
                                        <% } %>
                                 
                                <% }) %>
                            </select>   
                        </div>

                        <div class="inputGroup">
                            <label for="price">Precio:</label>
                            <input class="inputDefault" type="number" name="price" id="price" value="<%= singleProduct.price %>">
                        </div>

                        <div class="inputGroup">
                            <label for="productImage">Foto de producto:</label>
                            <br>
                            <input type="file" name="productImage" id="productImage">
                        </div>
                        
                        <div class="buttonGroup">
                            <button class="mainButton" type="submit">Editar</button>
                            <button class="secondaryButton" type="reset">Cancelar</button>
                        </div>
                    </form>
                </div>
            </div>
        </main>
        
        <%- include("partials/footer.ejs") %>
    </body>
</html>