<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", {title:"Grinding Coffee/Registro", css:"edit"}) %>
    <body>
        <%- include("partials/nav.ejs") %>
            <main>
                <form action="/products/edit/<%= singleProduct.id%>?_method=PUT" method="POST" class="form" enctype="multipart/form-data">
                    <section class="cajacreate">
                        <p class="h3">Editar producto<i class="fa-solid fa-mug-saucer fa-l"></i></p>
                        <div class="line"></div>
                        <p class="marca">Grinding Coffee®</p>

                        <input class="inputcreate" type="text" name="productName" value="<%=singleProduct.name%>" id="product-name" placeholder="Nombre producto" required >


                        <label for="description" class="form-label">Descripcion:</label>
                        <textarea class="inputcreate form" name="description" id="description" required><%= singleProduct.description %></textarea>

                        <label for="category" class="form-label">Categoría:</label>
						<select name="category" id="category" class="form-input" value="">
							<option value="" <% if (!singleProduct.category) { %>selected<% } %>>Que tipo de producto es:</option>
							<option value="Cafe en grano" <% if (singleProduct.category === 'Cafe en grano') { %>selected<% } %>>Cafe en grano</option>
							<option value="Cafe molido" <% if (singleProduct.category === 'Cafe molido') { %>selected<% } %>>Cafe molido</option>
						</select>
						<select name="size" id="size" class="form-input" value="">
							<option value="" <% if (!singleProduct.size) { %>selected<% } %>>Cual es el tamaño del producto:</option>
							<option value="250" <% if (singleProduct.size === '250') { %>selected<% } %>>250 gr</option>
							<option value="500" <% if (singleProduct.size === '500') { %>selected<% } %>>500 gr</option>
							<option value="1000" <% if (singleProduct.size === '1000') { %>selected<% } %>>1000 gr</option>
						</select>

                        <input class="inputcreate" type="text" name="price" id="price"
                            placeholder="Precio del producto" value="<%= singleProduct.price %>">
                        </input>

                        <div class="fotoUsuario">
                            <input type="file" name="productImage">
                            </input>
                        </div>

                        <section class="botones">
                            <button type="submit">Editar</button>
                        </section>

                        <section class="botones">
                            <button type="reset">Volver</button>
                        </section>
                    </section>

                </form>
            </main>
            <%- include("partials/footer.ejs") %>
    </body>

</html>