<!DOCTYPE html>
<html lang="en">
<%- include("partials/head", {title:"Grinding Coffe", css:"home"}) %>

    <body>
        <%- include("partials/nav.ejs") %> 
        
        <div class="logoHero">
            <img src="/img/grindingCoffeeHero.svg" alt="Logo de Grinding Coffee">
        </div>

        <main class="container-main">

            <section class="coffees">
                <h3 class="category">Cafe en Grano</h3>
                <div class="products">
                    <% EnGrano.forEach(product=> { %>
                        <div class="product">
                            <a href="/products/detail/<%= product.id %>">
                                <img class="product-image" src="/img/products/<%= product.productImage%>" alt="<%= product.productName %>">
                                <p class="product-name"><%= product.productName %></p>
                                <p class="product-price">$<%= product.price%></p>
                            </a>
                        </div>
                    <% }); %>
                </div> 
            </section>
            
            <section class="all-pruducts">
                <h3 class="title-products">Todos nuestros productos</h3>
                <a href="/allProducts" class="see-more">Ver mas</a>
            </section>
                
            <section class="coffees">
                <h3 class="category">Cafe Molido</h3>
                <div class="products">
                    <% molido.forEach(product=> { %>
                        <div class="product">
                            <a href="/products/detail/<%= product.id %>">
                                <img class="product-image" src="/img/products/<%= product.productImage%>" alt="<%= product.productName %>">
                                <p class="product-name"><%= product.productName %></p>
                                <p class="product-price">$<%= product.price%></p>
                            </a>
                        </div>
                    <% }); %>
                </div> 
            </section>    
            
            <section class="winner">
                <h3 class="category">Más Vendido</h3>
                <article class="content-winner">
                    <a class="link-winner" href="/products/detail/<%= products[0].id %>">
                        <img class="img-winner" src="/img/products/<%= products[0].productImage %>">
                    </a>
                    <div class="descrip-winner">
                        <h1><%= products[0].productName %></h1>
                        <p><%= products[0].description %></p>
                        <button class="mainButton" type="submit">Agregar al carrito</button>
                    </div>
                </article>    
            </section>

            <section class="marquee">
                <h3 class="category">Productos Destacados</h3>
                
                <div class="products-marquee">
                    <% products.forEach(product=> { %>
                        <div class="product-marquee">
                            <a href="/products/detail/<%= product.id %>">
                                <img class="product-image" src="/img/products/<%= product.productImage%>" alt="<%= product.productName %>">
                                <p class="product-name"><%= product.productName %></p>
                            </a>
                        </div>
                    <% }); %>
                </div> 
            </section> 

        </main>
        <%- include("partials/footer.ejs") %>  
    </body>
</html>