<!DOCTYPE html>
<html lang="en">

<%- include("partials/head", {title:"Grinding Coffee: Tu Carrito", css:"carrito"}) %>

    <body>
        <%- include("partials/nav.ejs") %>
            <main class="container">
                <h1 class="mainTitle">Mi Carrito</h1>
                <div class="card-container">
                    <div class="card-cart">
                    
                        <div class="product">
                            <img class="product-cartImg" src="/img/products/productImage-1705950356937.jpg">
                            <div class="product-description">
                                <p class="product-name">Café en Grano - Tostado Alto</p>
                                <p class="product-price">$ 4570</p>  
                            </div>
                        </div>
                        <div class="product">
                            <img class="product-cartImg" src="/img/products/productImage-1705950659841.jpg">
                            <div class="product-description">
                                <p class="product-name">Café Molido Antioqueño</p>
                                <p class="product-price">$ 4650</p>  
                            </div>
                        </div>
                        <div class="product">
                            <p class="product-name"><strong>Total: </strong>$ 9220</p>
                        </div>
                        <button class="mainButton" type="submit">Iniciar Compra</button>
                        <form action="/allProducts" method="GET">
                            <button class="secondaryButton" type="submit">Seguir Comprando</button>
                        </form>
                    </div>
                </div>
            </main>

            <section class="marquee">
                <h3 class="category">Productos Relacionados</h3>
                <div class="products-marquee">
                    <% products.forEach(product=> { %>
                        <div class="product-marquee">
                            <a href="/products/detail/<%= product.id %>">
                                <img class="product-image" src="/img/products/<%= product.productImage%>" alt="<%= product.productName %>">
                                <p class="product-name"><%= product.productName %></p>
                                <p class="product-price">$<%= product.price%></p>
                            </a>
                        </div>
                    <% }); %>
                </div> 
            </section>

            <%- include("partials/footer.ejs") %>
    </body>

</html>