<!DOCTYPE html>
<html lang="en">

<%- include("partials/head", {title:"Grinding Coffee: Prducto", css:"detail"}) %>

<body>
    <!--/////////////////// HEADER ///////////////////-->
    <%- include("partials/nav.ejs") %>
    <!--/////////////////// MAIN ///////////////////-->
    <main>
        <!--/////////////////// PRODUCT DETAIL ///////////////////-->
        <section class="productDetail">
            <div class="gallery">
                <img src="/img/products/<%= singleProduct.productImage %>" alt="">
            </div>
            <article class="product">
                <div class="product-header">
                    <h1 class="titleProduct"><%= singleProduct.productName %></h1>
                    <p class="descriptionProduct"><%= singleProduct.description %></p>
                </div>
                <div class="product-content">
                    <p class="descriptionProduct"><strong>Precio del Producto: </strong>$ <%= singleProduct.price %></p>
                    <p class="descriptionProduct"><strong>Tamaño del producto: </strong><%= singleProduct.sizes.size %> Gr</p>
                </div>
                
                <button class="mainButton" type="submit">Agregar al carrito</button>
                <% if (locals.userRoll_id === 1) { %>
                    <div class="secondaryButton-group">
                        <form action="/products/edit/<%= singleProduct.id %>" method="GET">
                            <button class="secondaryButton" type="submit">Editar Producto</button>
                        </form>
                        <form action="/products/delete/<%= singleProduct.id %>?_method=DELETE" method="POST">
                            <button class="secondaryButton" type="submit">Borrar Producto</button>
                        </form>
                    </div>
                <% } %>
            </article>
        </section>

        <!--/////////////////// RELATED PRODUCTS ///////////////////-->
        <div class="container">
            <section class="coffees">
                <h3 class="category">Productos Relacionados</h3>
                <div class="products-cards">
                    <% relatedProducts.forEach(product=> { %>
                        <div class="product-card">
                            <a href="/products/detail/<%= product.id %>">
                                <img class="product-image" src="/img/products/<%= product.productImage%>" alt="<%= product.productName %>">
                                <p class="product-name"><%= product.productName %></p>
                                <p class="product-price">$<%= product.price%></p>
                            </a>
                        </div>
                    <% }); %>
                </div> 
            </section> 
        </div>

        <!--/////////////////// COMMENTS ///////////////////-->
        <div class="container">
            <section class="comments">
                <h2 class="category">¿Que dicen los que compraron este producto?</h2>
                <div class="flexBox">
                    <article class="comment">
                        <h2>Sheldon Strickland</h2>
                        <div class="calification">
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa mollitia laudantium provident
                            odiosequi enim laborum, distinctio reiciendis consequuntur officiis, dignissimos architecto
                            delectus
                            laboriosam aliquam ad minus quae iusto nobis!</p>
                    </article>
                    <article class="comment">
                        <h2>Vickie Ortega</h2>
                        <div class="calification">
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa mollitia laudantium provident
                            odiosequi enim laborum, distinctio reiciendis consequuntur officiis, dignissimos architecto
                            delectus
                            laboriosam aliquam ad minus quae iusto nobis!</p>
                    </article>
                    <article class="comment">
                        <h2>Elena Page</h2>
                        <div class="calification">
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa mollitia laudantium provident
                            odiosequi enim laborum, distinctio reiciendis consequuntur officiis, dignissimos architecto
                            delectus
                            laboriosam aliquam ad minus quae iusto nobis!</p>
                    </article>
                    <article class="comment">
                        <h2>Sylvia Moss</h2>
                        <div class="calification">
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                            <div class="start"><i class="fa-solid fa-star"></i></div>
                        </div>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa mollitia laudantium provident
                            odiosequi enim laborum, distinctio reiciendis consequuntur officiis, dignissimos architecto
                            delectus
                            laboriosam aliquam ad minus quae iusto nobis!</p>
                    </article>
                </div>
            </section>
        </div>
    </main>

    <!--/////////////////// FOOTER ///////////////////-->
    <%- include("partials/footer.ejs") %>
</body>

</html>