<!DOCTYPE html>
<html lang="en">

<%- include("partials/head", {title:"UserProfile", css:"profile"}) %>

    <body>
        <%- include("partials/nav.ejs") %>
            <main>
                <div class="mainDiv">
                    <div class="div1">

                    </div>
                    <div class="div2">
                  
                            <img src="/img/avatars/<%= user.avatar %>" alt="" class="avatarimg">
              

                            <h1 class="userName">Bienvenido: <%= user.name %> <%= user.lastName %>  </h1>
                    </div>

                        <div class="div3">
                            
                            <h2 class="userEmail">Email: <%= user.email %>  </h2>
                        </div>
                    </div>

            </main>
            <%- include("partials/footer.ejs") %>
    </body>

</html>