<!DOCTYPE html>
<html lang="en">

<%- include("partials/head", {title:"Grinding Coffee: Tu Perfil", css:"profile"}) %>

    <body>
        <%- include("partials/nav.ejs") %>
            <main class="container">
                <h1 class="mainTitle">Tu Perfil</h1>
                <div class="card-container">
                    <div class="card-profile">
                    
                        <div class="card-header">
                            <img class="card-image" src="/img/avatars/<%= user.avatar %>" alt="">
                            <h2 class="card-title">Te damos la bienvenida</h1>
                        </div>

                        <div class="card-content">
                            <p class="userDescription"><strong>Nombre: </strong><%= user.name %> <%= user.lastName %>  </p>   
                            <p class="userDescription"><strong>Correo Electrónico: </strong><%= user.email %>  </p>
                        </div>
                    
                        <form class="card-footer" action="/user/editProfile" method="GET">
                            <button class="secondaryButton" type="submit">Editar Perfil</button>
                        </form>

                    </div>
                </div>
            </main>
            <%- include("partials/footer.ejs") %>
    </body>

</html>